nav{
    display: flex;
    justify-content: space-between;
    div{
        height: 100px;
        display: flex;
        align-items: center;
        img{
            height: 40px;
        }
    }
    ul{
        display: flex;
        li{
            // padding: 20px;
            list-style-type: none;
            margin-right: 40px;
            a{
                color: black;
                text-decoration: none;
            }
        }
    }
}
.slider {
    height: 477px;
    width: 100%;
    background-image: url(../../../../assets/images/h3-slider-background-2.jpg);
    background-position: center;
    display: flex;
    align-items: center;
    padding-left: 5%;
    h3 {
        
        span {
            color: red;
        }
    }
}